/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
:root {
	--verde: #97BF04;
    --amarillo: #D2D904;
    --crema: #F2A766;
    --piel: #F2BB9B; 
    --gris: #ECDCCD;
    --rosa: #F24957;
}

/* HEADER */
header {
	height: 20%;
    background-color: #f24957ab;
	width: 100%;
}
header > h2 {
	font-family: 'Indie Flower', cursive;
    font-size: 4rem;
	font-weight: bold;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #f158dd,
    0 0 70px #e673d6,
    0 0 80px #f380e4,
    0 0 100px #ff5be9,
    0 0 150px #f332f3;
}
.logo {
	border: 3px solid #f158dd;
	border-radius: 5rem;
}
/* NAV */

nav {
	min-height: 8vh;
	font-size: 3rem;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

div > a {
	text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-shadow: var(--gris) 3px 3px 4px;
}
a:hover {
	border: 3px solid var(--crema);
    background-color: var(--piel);
    text-shadow: var(--rosa) 3px 3px 4px;
	border-radius: 10%;

}

/* CARRITO */
#carrito {
	width: 30vh;
	height: 20vh;
	overflow: auto;
	position: sticky;
	left: 90vw;
	top: 10vh;
	color: rgb(226, 67, 67);
	font-size: 12px;
}
tbody > tr {
	height: 5vh;
}
td > img {
	width: 50%;
}


/* MAIN INDEX */
#map > iframe{
	border: 6px solid var(--rosa);
    border-radius: 30%;
}
/* MAIN JUGUETES - MEDICAMENTOS */
.ultimos {
	background-color: rgb(240, 76, 76);
	border-radius: 5%;
}
main {
	font-family: 'Architects Daughter', cursive;
	width: 100%;
}
/* CARD */

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 1em auto;
	height: 35%;
	width: 50%;

}
/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 30vh;
	float: left;
	width: 60%;
}
/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
    text-align: center;
	position: relative;
	font-size: 25px;
	color: #344055;
	margin: 0;
}

/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	overflow-y: auto;
	height: 50%;
}
/* control */
.control{
	position: absolute;
	top: 80%;
	left: 20%;
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: var(--rosa);
	border-radius: 5px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
}
.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
    padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}
.btn .shopping-cart {
	transform: translateX(-100%);
  	position: absolute;
	background: #333;
	z-index: 1;
  	left: 0;
  	top: 0;
}
.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}
/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}
.btn:hover .price {transform: translateX(-110%);}
.btn:hover .shopping-cart {transform: translateX(0%);}

/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	position: relative;
	overflow: hidden;
/* 	height: 100%; */
	width: 40%;
}

#container img {width: 100%;height: 100%;}

/* Contact Input File */

.containerForm {
	margin: 2rem;
	margin: 0 5rem;
}
.h3contacto {
	text-align: center;
	margin: 10px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	text-decoration-line: underline;
}
.form {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	padding: 2rem;
}
.cliente {
	min-width: 60%;
	background-color: rgb(248, 204, 204);
	border-radius: 20px;
	margin:auto;
}

label > input {
	border: 3px solid rgb(251, 163, 251);
	border-radius: 20px;
}

.mascotaForm {
	min-width: 60%;
	background-color: rgb(236, 194, 194);
	margin: 1rem auto; 
	padding: 2rem;
	border-radius: 20px;
	font-size: 20px;
	align-self: center;
}
 .mascotaForm select {
	min-width: 25vw;
	border: 3px solid rgb(251, 163, 251);
	border-radius: 2rem;
	padding: 0.5rem;
	font-size: 20px;
	text-align: center;
}
 
.uploadMascota{
	min-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.inputFile {
	min-width: 15vw;
	height: 6vh;
	border: 6px solid rgb(251, 163, 251);
	border-radius: 2rem;
}
.inputFileName {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	max-width: 40vw;
}
.inputFileBtn {
	position: relative;
	left: 12vw;
}
#mascotaInput {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	opacity: 0;
}
.imgPrev {
	margin-left: 2vw;
	min-width: 10vw;
	border: 6px solid rgb(251, 163, 251);
	border-radius: 2rem;
}
button {
	background-color: rgb(238, 105, 127);
	border: 3px solid rgb(251, 163, 251);
	border-radius: 2rem;
	padding: 0.5rem
}
/* Boton WhatsApp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:50px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #fbfbfb;
    background-color:rgb(31, 236, 12);
}

.my-float{
	margin-top:12px;
}

/* Footer */
footer {
	min-height: 12vh;
	margin-top: 2vh;
    background-color: #f24957ab;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}
footer > p {
	font-size: 30px;
}
@media screen and ( min-width: 1px) and (max-width: 768px) {
	header {
		width: 100%;
	}
	header > h2 {
		width: 100%;
		font-size: 20px;
	}
	header > img {
		width: auto;
	}
	.imgIndex {
		width: 100vw;
	}
	#container{
		margin: 0 auto;
		width: 100% !important;
	}
	.logo {
		width: 10%;
	}
	/* NAV */
	nav{
	position: fixed;
	top: 0;
	bottom: 0;
	right:-300px; /* Escondemos nuestro menú con un valor negativo */ 
	width: 300px;
	z-index: 1;
	padding: 90px 30px 30px;
	background: #68C5DB;
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}
	nav a{
		display:block;
		text-decoration: none;
		padding: 10px;
		color: rgba(255,255,255,0.75);
		transition: all ease 0.25s;
	}
	
	nav a:hover{
		color: rgba(255,255,255,1);
		border-bottom-color:rgba(255,255,255,0.4);
		border-radius: 5%;
	}
	
	#menu_on{
		display: inline-block;
		width:30px;
		height: 20px;
		position: relative;
		z-index: 2;
	}
	
	#menu_on span{
		width: 100%;
		height: 4px;
		border-radius: 4px;
		display: block;
		position: absolute;
		background: #fff;
		transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
		transform-origin : 0px 100%;
	}
	
	#menu_on span:nth-child(2){
		top: calc(50% - 2px);
	}
	
	#menu_on span:nth-child(3){
	bottom: 0;
	}

	.visible_menu span:nth-child(1){
		transform: rotate(45deg) translate(-2px,1px); 
	}
	
	.visible_menu span:nth-child(2){
		opacity: 0;
	}
	
	.visible_menu span:nth-child(3){
		transform: rotate(-45deg) translate(-3px,3px); 
	}
	.visible_menu nav{
		right: 0;
		opacity: 1;
	}
	.visible_menu #content{
		transform: translateX(150px);
	}
	/* FORM CONTACTO */
	form {
		width: 100%;
	}
	.containerForm {

		margin: 1vw 1vh;
	}
	.h3contacto {
		text-align: center;
		margin: 10px;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		text-decoration-line: underline;
	}
	.form {
		font-family: 'Indie Flower', cursive;
		font-size: 20px;
		padding: 2rem;
	}
	.cliente {
		width: 100%;
		background-color: rgb(248, 204, 204);
		border-radius: 20px;
		margin:auto;
	}

	label > input {
		border: 3px solid rgb(251, 163, 251);
		border-radius: 20px;
	}

	.mascotaForm {
		width: 100%;
		background-color: rgb(236, 194, 194);
		margin: 1rem auto; 
		padding: 2rem;
		border-radius: 20px;
		font-size: 20px;
		align-self: center;
	}
	.mascotaForm select {
		max-width: 25vw;
		border: 3px solid rgb(251, 163, 251);
		border-radius: 2rem;
		padding: 0.5rem;
		font-size: 20px;
		text-align: center;
	}
	.selecMascota	 {
		width: 100%;
	}
	.footer p{
		font-size: 12px;
	}

}


